* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--text-color: #53EEE8;
}

body {
	font-family: "Robot", sans-serif;
	background-color: black;
	color: #ccc;
	font-size: 18px;
	line-height: 1.6;
}

h1 {
	color: var(--text-color);
	font-size: 50px;
	letter-spacing: -3px;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.container {
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 70v;
}

nav {
	width: 30%;
}

nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	color: var(--text-color);
	cursor:pointer;
}

.cursor {
	font-weight: 700;
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: var(--text-color);
	}
}
